.main-container{
    height: 100vh;
    width: 100vw;
}

.dev-text-container{
    text-align: center;
  }
.dev-text{
    font-size: 18vw;
    font-weight: 600;
    color: white;
    text-shadow: 0 0 25px #e7e7e775;
}



/* Main */
.main-body span{
      display: flex;
      align-items: baseline;
      gap: 10px;
}

.main-body{
      width: 40%;
      padding: 0 150px;
}

.main-body h4{
    color: var(--black-alpha-50);
    font-weight: 500;
    font-size: 20px;
}
.main-body h2{
    font-size: 55px;
}
.main-body p,
.main-body span{
    color: var(--black-alpha-70);
}
.main-body p{
    margin: 25px 0 30px;
}
.main-body span h3{
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
}
.main-body .social-links a i{
    color: black;
    transform: scale(1.5);
    margin: 30px 25px 0 5px;
}
@media (max-width: 1300px) {
    .main-body{
        padding: 0 100px;
        width: 60%;
    }
    .dev-text-container{
        margin-top: 12px;
    }
}
@media (max-width: 1050px) {
    .main-body{
        width: 80%;
        padding: 0 20px;
        margin: auto;
    }
    .dev-text-container{
        margin-top: 20px;
    }
}
@media (max-width: 950px) {
    .dev-text-container{
      margin-top: 40px;
    }
}
@media (max-width: 810px) {
    .main-body h4{
        text-align: center;
        margin-top: 85px;
    }
    .main-body h2{
        text-align: center;
    }
    .main-body p {
        text-align: center;
    }
    .main-body .social-links{
        text-align: center;
    }
    .main-body span{
        justify-content: center;
    }
    .dev-text-container{
        display: none;
    }
}
@media (max-width: 540px) {
    .main-body h4{
        font-size: 18px;
    }
    .main-body h2{
        font-size: 36px;
    }
    .main-body span{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}
@media (max-width: 480px) {
    .dev-text-container{
      margin-top: 40px;
    }
}
@media (max-width: 320px) {
    .main-body h2{
        font-size: 32px;
    }
    .dev-text-container{
        margin-top: 45px;
      }
}